.custom-navbar {
    width: 100%;
  }
  
  .custom-navbar{
    width: 100%;
    justify-content: flex-end;
  }
  
  .custom-navbar .navbar-collapse {
    width: 100%;
  }
  
  .custom-navbar .navbar-toggler {
    margin-right: 0;
  }
  